<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my0803.myapp.persistance.BoardService_Mapper">

<insert id="boardInsert" parameterType="bv">
<selectKey resultType="int" keyProperty="bidx" order="AFTER">
select max(bidx) as bidx from board0803
</selectKey>
INSERT INTO board0803(originbidx, depth, level_, subject, contents, writer, pwd, midx, ip, filename)
values(null,0, 0, #{subject}, #{contents}, #{writer}, #{pwd}, #{midx},#{ip},#{filename2});
</insert>

<update id="boardOriginBidxUpdate" parameterType="int">
UPDATE board0803 SET originbidx=#{bidx} where bidx=#{bidx}
</update>

<sql id="search">
<if test="searchType!=null and searchType.equals('writer')">
	and writer like concat('%',#{keyword},'%') 
</if>
<if test="searchType!=null and searchType.equals('subject')">
	and subject like concat('%',#{keyword},'%') 
</if>

</sql>

<select id="boardList" parameterType="scri" resultType="bv">
SELECT b.bidx, b.subject, b.writer, b.writeday, b.viewcnt, b.originbidx, b.depth, b.level_,IFNULL(c.commentcnt, 0) as commentcnt 
FROM board0803 b 
left outer join 
(select bidx, count(*) as commentcnt from comment0803 where delyn='N' group by bidx) c 
ON b.bidx= c.bidx 
WHERE DELYN='N' 
<include refid="search"/>    
ORDER BY originbidx desc, depth asc limit #{page},#{perPageNum};
</select>

<select id="boardTotalCount" parameterType="scri" resultType="int">
SELECT count(*) as cnt FROM board0803 WHERE DELYN='N'
<include refid="search"/>
</select>

<select id="boardContents" parameterType="int" resultType="bv">
SELECT * FROM board0803 WHERE bidx=#{bidx}
</select>

<update id="boardModify" parameterType="bv" >
UPDATE board0803 SET SUBJECT = #{subject}, CONTENTS=#{contents}, WRITER=#{writer}, MODIFYDAY=now(), ip=#{ip}
WHERE bidx=#{bidx} AND PWD=#{pwd}
</update>

<update id="boardDelete" parameterType="bv" >
UPDATE board0803 SET DELYN='Y', MODIFYDAY=now()
WHERE bidx=#{bidx} AND PWD=#{pwd}
</update>

<update id="boardViewCnt" parameterType="int" >
UPDATE board0803 SET VIEWCNT=VIEWCNT+1 WHERE bidx=#{bidx}
</update>

<update id="boardUpdateDepth" parameterType="bv" >
update board0803 set depth = depth+1 where depth > #{depth} and originbidx=#{originbidx}
</update>

<insert id="boardReply" parameterType="bv">
<selectKey resultType="int" keyProperty="bidx" order="AFTER">
select max(bidx) as bidx from board0803
</selectKey>
INSERT INTO board0803(originbidx, depth, level_, SUBJECT, contents, writer, midx, pwd, ip)
VALUES(#{originbidx}, #{depth}+1, #{level_}+1, #{subject}, #{contents}, #{writer}, #{midx}, #{pwd}, #{ip})
</insert>

<select id="boardCommentCnt" parameterType="int">
select count(*) as cnt from comment0803 where delyn='N' and bidx=#{bidx}
</select>

</mapper>