<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my0803.myapp.persistance.CommentService_Mapper">
<select id="commentList" parameterType="int" resultType="cv">
select * from comment0803 where delyn='N' AND bidx=#{bidx} order by cidx desc
</select>

<update id="commentDelete" parameterType="int">
UPDATE comment0803 SET delyn='Y'
WHERE cidx = #{cidx}
</update>

<insert id="commentWrite" parameterType="cv">
insert into comment0803(cwriter, ccontents, midx, bidx, cip)
values(#{cwriter}, #{ccontents}, #{midx}, #{bidx}, #{cip})
</insert>
</mapper>